[Unit]  
Description=micro-service-eureka

[Service]  
ExecStart=/opt/micro-services/microservice-eureka -Dspring.config.location=/etc/micro-services/discovery/application.yml
ExecStop=/bin/kill -TERM $MAINPID  
ExecReload=/bin/kill -HUP $MAINPID  
Type=simple
Restart=on-failure
KillMode=control-group

[Install]  
WantedBy=multi-user.target  
